---
layout: home
author_profile: true
classes: wide

feature_row:
  - image_path: /assets/images/projects/webgl_forwardplus_and_clustered_deferred_shading/webgl_shading.gif
    alt: "WebGL Forward+ and Clustered Deferred Shading"
    title: "WebGL Forward+ and Clustered Deferred Shading"
    url: /projects/webgl_forwardplus_and_clustered_deferred_shading
    btn_label: "More info"
    btn_class: "btn--theme"
    
  - image_path: /assets/images/projects/cuda_path_tracer/cornell_kirby.png
    alt: "CUDA Path Tracer with Denoiser: GPU Based Renderer"
    title: "CUDA Path Tracer with Denoiser: GPU Based Renderer"
    url: "/projects/cuda_path_tracer_with_denoiser"
    btn_label: "More info"
    btn_class: "btn--theme"
    
  - image_path: /assets/images/projects/stampedia/stampedia.png  
    url: "/projects/stampedia"
    title: "Stampedia: Node.js Based Web App"
    btn_label: "More info"
    btn_class: "btn--theme"
    
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}